persoane.dtd

<!ELEMENT persoane (persoana+)>
<!ATTLIST persoana id CDATA #REQUIRED>
<!ELEMENT persoana (nume, prenume, varsta, adresa, educatie)>
<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>
<!ELEMENT adresa (strada, numar, localitate, judet, tara)>
<!ELEMENT strada (#PCDATA)>
<!ELEMENT numar (#PCDATA)>
<!ELEMENT localitate (#PCDATA)>
<!ELEMENT judet (#PCDATA)>
<!ELEMENT tara (#PCDATA)>
<!ELEMENT educatie (nivel, domeniu, institutie, an, ocupatie)>
<!ELEMENT nivel (#PCDATA)>
<!ELEMENT domeniu (#PCDATA)>
<!ELEMENT institutie (#PCDATA)>
<!ELEMENT an (#PCDATA)>
<!ELEMENT ocupatie (#PCDATA)>